 {% extends 'base.html' %}
<!--title block-->
{% block title %}

    Home_page

{% endblock %}
 
 
 
 <!--main body Start-->
 {% block bodyblock%}

 <main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">{{ my_title }}</h1>
          <p class="lead text-muted">
            {{description}}
          </p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for my_item in data %}
      
          <div class="col">
            <div class="card shadow-sm">
              <img style="width: 100%; height: 200px;" src="{{my_item.image.url}}" alt="">
  
              <div class="card-body">
                <h3>{{my_item.title}}</h3>
                <p class="card-text">{{my_item.summary}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">{{my_item.date}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class=" text-center text-danger mb-1">NaYaMaT &copy; {% now 'Y' %}</p>
      <p class=" text-center mb-0"><a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>
  
 {% endblock %}
 <!--main body End-->